@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Inline&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

@import '../styles/variables';

h1,
h2,
h3 {
  font-family: 'Bungee Inline';
}
// Override default variables before the import
$spacer: 2rem;

//theme color variables
$primary: $brown;
$secondary: $yellow;
$danger: $red;
$light: $beige;
$info: $cyan;
$dark: $dark-brown;

$body-bg: $primary;

//fonts
$font-family-base: 'Readex Pro';

//font sizes
$h1-font-size: 4rem;
$h2-font-size: 3.3rem;

//custom classes
.title-shadow-cyan {
  text-shadow: 2px 2px $cyan;
}
.title-shadow-light {
  text-shadow: 2px 2px $beige;
}
.separator {
  width: 200px;
  opacity: 1;
}
.logo {
  font-family: 'Bungee Inline';
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.img-fluid {
  object-fit: cover;
  height: 100%;
}
footer {
  margin-top: auto;
}

@media only screen and (max-width: 600px) {
  .mx-5 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}
