@import './variables';
.hero {
  height: 60vh;
}
.left {
  height: 100%;
}
.left button {
  width: fit-content;
}
.yellow-square {
  width: 40vw;
  height: 60vh;
  border-radius: 6rem 0 6rem 0;
  background-color: $yellow;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}
.coffee-img {
  width: 40vw;
  min-width: 200px;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .yellow-square {
    width: 100%;
    height: calc(40vh + 80px);
  }
  .hero {
    height: 40vh;
    margin-bottom: 50px;
    h2 {
      color: $dark-brown !important;
    }
  }
  .coffee-img {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .yellow-square {
    width: 100%;
    height: calc(40vh + 100px);
  }
}
