@import './variables';
.hero {
  height: 60vh;
}
.left {
  height: 100%;
  width: 50%;
}
.left button {
  width: fit-content;
}
.yellow-square {
  width: 40vw;
  height: 60vh;
  border-radius: 6rem 0 6rem 0;
  background-color: $yellow;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}
.coffee-img {
  width: 40vw;
  min-width: 200px;
  object-fit: contain;
}
